*.py[cod]
*.so

# Database
*.sqlite3
*.db
*.rdb

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Folders
tmp/
bin/
node_modules/
staticfiles/



## Ignore compiled files (js, css, etc.)
#core/*.js
#*.css